<li class="list-group-item">
  <i class="fa" [ngClass]="{
  'fa-check-circle': annonceStatus == 'Publié',
  'fa-times-circle':annonceStatus == 'Désactivée',
  'fa-pause-circle':annonceStatus == 'Brouillon'}" [ngStyle]="{color:checkColor()}"></i>{{ annonceName }} - <b><i>{{ annonceStatus }}</i> - <span class="badge badge-secondary">{{ annoncePrix | number: '2.2-2' }}</span></b><span class="pull-right">Date : {{ annonceDate | date: 'M/d/yy, h:mm'}}</span>
    <input type="text" class="form-control" [(ngModel)]="annonceName">
  <button type="button" class="btn btn-sm btn-warning btn-outline-warning" (click)="Brouillon()">Brouillon</button>
  <button type="button" class="btn btn-sm btn-success btn-outline-success" (click)="Publier()">Publié</button>
  <button type="button" class="btn btn-sm btn-primary btn-outline-primary" (click)="Desactiver()">Désactivée</button>
  <button type="button" class="btn btn-sm btn-warning btn-outline-warning" routerLink="/ads/{{ annonceId }}">Afficher</button>
  <button type="button" class="btn btn-sm btn-danger btn-outline-danger" (click)="Delete(annonceId)">Delete</button>
  <button type="button" class="btn btn-sm btn-danger btn-outline-danger" routerLink="/edit/{{ annonceId }}">Edit</button>
</li>

