<div class="card">
  <img class="card-img-top" src="{{ ad?.picture }}" alt="{{ ad?.title }}">
  <div class="card-body">
    <h1 class="card-title">{{ ad?.title }}</h1>
    <div class="wrap-card">
    <span class="badge badge-primary">{{ ad?.prix }} €</span>
    <span>{{ ad?.date|date }}</span>
    </div>
  </div>
</div>
