.wrap-card{
  display: flex;
  justify-content: space-between
}

.card{
  width: 60%;
  margin: auto;
}

.card-img-top {
  width: 100%;
}

.card {
  padding: 10px;
  border: 0.1px solid rgba(0, 0, 0, 0.17);
}
