
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="ads">Leboncoin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a routerLink="ads">Annonces</a></li>
            <li><a routerLink="new">Nouvelle Annonce</a></li>
            <li *ngIf="!auth"><a routerLink="auth">Authentification</a></li>
            <li><a routerLink="exercice">Exercice</a></li>
          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a routerLink="ads">Home</a></li>
      </ol>
    </nav>
    <router-outlet></router-outlet>
</div>
</div>
