<div class="col-xs-12">
  <h1>
    {{ title }}
  </h1>
  <div class="alert alert-info" role="alert" *ngIf="!isAuthenticated">
    Vous devez être connectée pour afficher les annonces
  </div>
  <ul class="list-group" *ngIf="isAuthenticated">
    <app-ad *ngFor="let announce of announces; let i = index" [annonceId]="announce.id" [annonceIndex]="i" [annonceName]="announce.title" [annonceStatus]="announce.status" [annonceDate]="announce.date" [annoncePrix]="announce.prix"></app-ad>
  </ul>
  <app-counter></app-counter>
</div>
<button type="button" class="btn btn-primary" *ngIf="!isAuthenticated">Connexion</button>
<button type="button" class="btn btn-warning" *ngIf="isAuthenticated">Déconnexion</button>
<button type="button" class="btn btn-primary" [disabled]="!isAuthenticated" (click)="Publie()">Tout Publier</button>
