<form [formGroup]="formUpdate" (ngSubmit)="onUpdate(formUpdate)" novalidate>
  <div class="form-group">
    <label for="title">Titre</label>
    <input id="title" type="text" formControlName="title" [value]="ad.title" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="prix">Prix</label>
    <input id="prix" type="number" formControlName="prix" [value]="ad.prix" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="picture">URL de l'image</label>
    <input id="picture" type="text" formControlName="picture" [value]="ad.picture" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" id="status" formControlName="status" [value]="ad.status" required>
      <option>Publié</option>
      <option>Désactivée</option>
      <option>Brouillon</option>
    </select>
  </div>

  <input id="id" type="hidden" formControlName="id" [value]="ad.id" class="form-control" required>
  <button type="submit" class="btn btn-primary">Modifier l'annonce</button>

</form>

