<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
    <div class="form-group">
      <label for="title">Titre</label>
      <input id="title" type="text" formControlName="title" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="prix">Prix</label>
      <input id="prix" type="number" formControlName="prix" class="form-control" required>
    </div>

  <div class="form-group">
    <label for="picture">URL de l'image</label>
    <input id="picture" type="text" formControlName="picture" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" id="status" formControlName="status" required>
      <option>Publié</option>
      <option>Désactivée</option>
      <option>Brouillon</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Ajouter l'annonce</button>

</form>

