<h2>Exercice</h2>

<h4>Compteur</h4>
<p>
  {{ number }} seconde
</p>

<h5>Méthode 1 :</h5>
<button (click)="counts()">Commencer</button>
<button (click) ="stopCount()">Stop</button>
<h5>Méthode 2 :</h5>
<button (click)="count2()">Commencer</button>
<h5>Méthode 3 :</h5>
<button (click)="count3()">Commencer</button>
<h6>Méthode 4 :</h6>
<button (click)="counterLaunch()">Commencer</button>
